body {
font-family: 'Abril Fatface';
font-size: 18px;
width: 100%;
height: 100%;
margin: auto;
overflow-x: hidden;
overflow-y: hidden;
}

p {color: white;}

.linear {background: linear-gradient(to top left,  rgb(243,117,3), rgb(240,208,10), rgb(168,234,189), rgb(17,126,218), rgb(3,75,210), rgb(2,8,32))}
/*navigation button*/
#fa-bars {position: fixed; top: 30px; right: 30px; width: 60px; height: 60px; z-index: 9999; cursor: pointer;}

/* navigation site */

#nav_wrap {
z-index: 9998;
background: #040009;
position: absolute; display: table; top: -100%; width: 100%; height: 100vh;
}

#section_nav {display:table-cell; vertical-align:middle; text-align: center;}
#section_nav p {font-size: 35px; color: white; cursor: pointer; width: 20vw; margin: auto; height: 10vh; line-height: 10vh;}

/*section_1*/

#sec1_wrap {
position: absolute;
display: table;
width: 100%;
height: 100vh;
background: #040009;
z-index: 1;
}

.rotation {
-ms-transform: rotate(-90deg);
-webkit-transform: rotate(-90deg);
transform: rotate(-90deg);
}

#last_upadate {visibility: hidden; font-family: 'Oswald'; position: absolute; top: 30px; right: 120px; height: 60px; line-height: 60px; margin: auto; font-size: 15px; color: white; z-index: 2;}
#seb_geb {visibility: hidden; font-family: 'Oswald'; position: absolute; top: 90px; font-size: 15px; left: 8px; color: white;}
#web_dev {visibility: hidden; font-family: 'Oswald'; position: absolute; bottom: 90px; font-size: 15px; left: 15px; color: white;}

.center_center {display: table-cell; vertical-align: middle}

#intro {position: relative; margin: auto; margin-left: 15vw; width: 30vw; height: 34vw; z-index: 2;}

#main_text {position: absolute; z-index: 2; font-family: 'Oswald'; left: 45vw; max-width: 40vw; color: white; text-align: justify; top: calc(50% - 15vh);}

#section1 { 
background-image: url('../img/ja.png'); 
background-size: contain; 
background-repeat: no-repeat; 
background-position: center;
position: absolute;
left: 0;
right: 0;
width: 100%;
height: 100vh;
visibility: hidden;
z-index: 1;
}

#poly_8, #poly_9 {visibility: hidden;}
#path12, #path37, #path58, #path72, #path94, #bastek {visibility: hidden;}
#poly11, #poly12, #poly13, #poly14 {visibility: hidden;}


/*seconde page (section_2)*/

#sec2_wrap {position: absolute; display: table; top: 100%; width: 100%; height: 100vh}


/*contact (section_3)*/
#contact_wrap {position: absolute; top: 100%; width: 100%; height: 100vh; background: #040009;}


/*basic web frame*/

#btn1 {
position: absolute;
bottom: 30px;
left: 0;
right: 0;
margin: auto;
width: 150px;
height: 60px;
z-index: 10;
cursor: pointer;
}

#btn1_text {
margin: auto;
color: rgb(3,75,210);
text-align: center;
line-height: 60px;
}


#btn1_svg_hold {
position: absolute;
bottom: 30px;
left: 0;
right: 0;
margin: auto;
width: 150px;
height: 60px;
z-index: 9;
}

#btn_solo {
position: absolute;
bottom: 30px;
left: 0;
right: 0;
margin: auto;
width: 150px;
height: 60px;
z-index: 10;
visibility: hidden;
}

.btn_solo_all {
position: absolute;
width: 150px;
margin: auto;
color: rgb(3,75,210);
text-align: center;
line-height: 60px;
visibility: hidden;
cursor: pointer;
z-index: 15;
}



#btn_svg_solo {
visibility: hidden;
position: absolute;
bottom: 30px;
left: 0;
right: 0;
margin: auto;
width: 150px;
height: 60px;
z-index: 9;
}

.btn_wrap {position: absolute; bottom: 30px; text-align: center; width: 100%; height: 60px;}
.btn_wrap div {display: inline-block; width: 200px; height: 60px;}
.btn_wrap div p {visibility: hidden; z-index: 1; position: absolute; width: 200px; margin: auto; text-align: center; line-height: 60px; cursor: pointer;}
#text_left p {margin-left: -9px; color: rgb(3,75,210)}
#text_right p {margin-left: 9px; color: rgb(3,75,210)}

#btn2 {position: absolute; bottom: 30px; left: 0; right: 0; margin: auto; text-align: center; width: 420px; height: 60px;}



#title_wrap {}
#title_wrap p {position: fixed; top: 30px; left: 100px; width: 200px; height: 60px; visibility: hidden; line-height: 60px; text-align: center; margin: 0px;}

#counting_top {
position: fixed;
left: 45px;
top: calc(50% - 45px);
bottom: calc(50%);
z-index: 2;
}
.top_all {cursor: pointer}
.top_all:nth-child(16) {color: rgb(243,117,3)}
.top_all:nth-child(15) {color: rgb(245,184,34)}
.top_all:nth-child(14) {color: rgb(240,208,10)}
.top_all:nth-child(13) {color: rgb(189,204,74)}
.top_all:nth-child(12) {color: rgb(168,234,189)}
.top_all:nth-child(11) {color: rgb(102,187,209)}
.top_all:nth-child(10) {color: rgb(17,126,218)}
.top_all:nth-child(9) {color: rgb(3,75,210)}


#counting_bottom {
visibility: hidden;
position: fixed;
left: 45px;
top: calc(50%);
bottom: calc(50% - 45px);
border-top: 1px solid white;
z-index: 2;
}
#counting_top p {visibility: hidden; position: absolute; line-height: 45px; margin: auto; text-align: center; width: 30px;}
#counting_bottom p {visibility: hidden; line-height: 45px; margin: auto; text-align: center; width: 30px;}
.top_all_stat_num {color: rgb(3,75,210)}

.drawn_line {visibility: hidden;}
#drawn_line_left_top {position: fixed; left: 60px; top: 60px; width: 1px; height: calc(50% - 60px * 1.75);}
#drawn_line_left_bottom {position: fixed; left: 60px; bottom: 60px; width: 1px; height: calc(50% - 60px * 1.75);}
#drawn_line_top_right {position: fixed; top: 60px; left: 300px; right: 120px; height: 1px;}
#drawn_line_top_left {position: fixed; left: 60px; top: 60px; height: 1px; width: calc(240px - 200px);}
#drawn_line_bottom_left {position: fixed; left: 60px; bottom: 60px; height: 1px; width: calc(50% - 200px * 1.5);}
#drawn_line_bottom_right {position: fixed; bottom: 60px; right: 60px; height: 1px; width: calc(50% - 200px * 1.5);}
#drawn_line_right {position: fixed; right: 60px; bottom: 60px; width: 1px; height: calc(100% - 90px * 2);}


























