body {
font-family: 'Oswald';
font-size: 18px;
width: 100%;
height: 100%;
margin: auto;
overflow-x: hidden;
overflow-y: hidden;
}

a:link {
outline:none;
}

p {color: white;}

.linear {background: linear-gradient(to top left,  rgb(243,117,3), rgb(240,208,10), rgb(168,234,189), rgb(17,126,218), rgb(3,75,210), rgb(2,8,32))}
/*navigation button*/
#fa-bars {position: fixed; top: 30px; right: 30px; width: 60px; height: 60px; z-index: 9999; cursor: pointer;}

/* navigation site */

#nav_wrap {
z-index: 9998;
background: #040009;
position: absolute; display: table; top: -100%; width: 100%; height: 100vh;
}

#section_nav {position: relative; display:table-cell; vertical-align:middle; text-align: center;}
#section_nav p {
font-size: 35px; color: white; cursor: pointer; width: 20vw; 
margin: auto; height: 6vh;
line-height: 6vh;
margin-bottom: 4vh;
}

.nav_img_all {
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: 100vh;
width: 100%;
position: absolute;
top: 0px;
left: 0px;
}
#about_nav_img {background-image: url('../img/ja.png');background-size: contain;}
#labolatory_nav_img {background-image: url('../img/labolatory.png');background-size: contain;}
#scroll_nav_img {background-image: url('../img/saint-tropez.jpg');}
#draw_nav_img {background-image: url('../img/eyes.png');}
#stan_nav_img {background-image: url('../img/monster.png');background-size: contain;}
#imi_nav_img {background-image: url('../img/toole.png');background-size: contain;width: 60%; left: 20%;}
#fw_nav_img {background-image: url('../img/python.png'); background-size: contain;height: 60vh; top: 20vh;}
#contact_nav_img {background-image: url('../img/chat.jpg');}

/*section_1*/

#sec1_wrap {
position: absolute;
display: table;
width: 100%;
height: 100vh;
background: #040009;
z-index: 1;
}

.rotation {
-ms-transform: rotate(-90deg);
-webkit-transform: rotate(-90deg);
transform: rotate(-90deg);
}

#last_upadate {visibility: hidden; font-family: 'Oswald'; position: absolute; top: 30px; right: 120px; height: 60px; line-height: 60px; margin: auto; font-size: 15px; color: white; z-index: 2;}
#seb_geb {visibility: hidden; font-family: 'Oswald'; position: absolute; top: 90px; font-size: 15px; left: 8px; color: white;}
#web_dev {visibility: hidden; font-family: 'Oswald'; position: absolute; bottom: 90px; font-size: 15px; left: 15px; color: white;}

.center_center {display: table-cell; vertical-align: middle}

#intro {position: relative; margin: auto; margin-left: 15vw; width: 26vw; height: 30vw; z-index: 2;}

#btn1 {
position: absolute;
bottom: 30px;
left: 0;
right: 0;
margin: auto;
width: 150px;
height: 60px;
z-index: 10;
cursor: pointer;
border: 3px solid rgb(3,75,210);
background: rgb(3,75,210); /* For browsers that do not support gradients */
background: -webkit-linear-gradient(left top, rgba(3,75,210,0.9), rgba(17,126,218,0.9), rgba(102,187,209,0.9), rgba(17,126,218,0.9), rgba(3,75,210,0.9)); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(bottom right, rgba(3,75,210,0.9), rgba(17,126,218,0.9), rgba(102,187,209,0.9), rgba(17,126,218,0.9), rgba(3,75,210,0.9));  /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(bottom right, rgba(3,75,210,0.9), rgba(17,126,218,0.9), rgba(102,187,209,0.9), rgba(17,126,218,0.9), rgba(3,75,210,0.9));  /* For Firefox 3.6 to 15 */
background: linear-gradient(to bottom right, rgba(3,75,210,0.9), rgba(17,126,218,0.9), rgba(102,187,209,0.9), rgba(17,126,218,0.9), rgba(3,75,210,0.9));  /* Standard syntax */;
border-radius: 7pt;
}

#btn1_text {
margin: auto;
color: black;
text-align: center;
line-height: 60px;
}

#main_text {
position: relative;
margin: auto;
z-index: 2;
margin-right: 15vw;
width: 26vw;
color: white;
text-align: justify;
border-bottom: 3px solid rgb(255,215,0);
font-size: 1.5vw;
}

#section1 {
background-image: url('../img/ja.png');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
position: absolute;
left: 0;
right: 0;
width: 100%;
height: 100vh;
visibility: hidden;
z-index: 1;
}

#poly_8, #poly_9 {visibility: hidden;}
#path12, #path37, #path58, #path72, #path94, #bastek {visibility: hidden;}
#poly11, #poly12, #poly13, #poly14 {visibility: hidden;}


/*seconde page (section_2)*/

.labolatory_main {
position: absolute; 
top: 10vh; 
left: 10vh; 
height: 80vh;
width: 80vh;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}
#lab_1 {background-image: url('../img/lab1.png'); z-index: 1}
#lab_2 {background-image: url('../img/lab2.png')}
#lab_3 {background-image: url('../img/lab3.png')}
#lab_4 {background-image: url('../img/lab4.png')}
#lab_5 {background-image: url('../img/lab5.png')}
#lab_6 {background-image: url('../img/lab6.png')}
#lab_7 {background-image: url('../img/lab7.png')}
#lab_8 {background-image: url('../img/lab8.png'); z-index: 1}
#lab_9 {background-image: url('../img/lab9.png')}
#lab_10 {background-image: url('../img/lab10.png')}
#lab_11 {background-image: url('../img/lab11.png')}
#lab_12 {background-image: url('../img/lab12.png')}
#lab_13 {background-image: url('../img/lab13.png')}

#sec2_wrap {position: absolute; display: table; top: 100%; width: 100%; height: 100vh;
background-image: url('../img/passenger.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.desktop {
background-size: contain;
background-repeat: no-repeat;
background-position: center;
position: absolute;
bottom: 20vh;
}
#phone {
background-size: contain;
background-repeat: no-repeat;
background-position: center;
position: absolute;
bottom: 20vh;
}

.desk_wrap_common {
position: absolute;
margin-left: 3vh;
left: 30vh;
bottom: 33.9vh;
width: 66.4vh;
height: 43.45vh;
background: white;
}

.tablet_wrap_common {
width: 16.7vh;
height: 19.5vh;
left: 21.3vh;
bottom: 22.4vh;
position: absolute;
z-index: 2;
background: white;
}
.phone_wrap_common {
left: 16vh;
width: 6.82vh;
height: 10vh;
bottom: 21vh;
position: absolute;
z-index: 4;
background: white;
}

#desk {
background-image: url('../img/desk.png');
left: 30vh;
width: 72vh;
height: 60.19vh;
z-index: 1;
}

#red_desk_click {
position: absolute;
left: 34.7vh;
bottom: 11vh;
z-index: 2;
width: 2.7vh;
height: 2.7vh;
background: black;
border-radius: 100%;
border: 1px solid blue;
cursor: pointer;
}

#tablet {
background-image: url('../img/tablet.png');
left: 20vh;
width: 18.83vh;
height: 23.99vh;
z-index: 3;
}

#red_tablet_click {
position: absolute;
left: 8.4vh;
bottom: 0.2vh;
z-index: 2;
width: 2vh;
height: 2vh;
background: black;
border-radius: 100%;
border: 1px solid blue;
cursor: pointer;
}

#phone {
background-image: url('../img/phone.png');
left: 16vh;
width: 6.82vh;
height: 11.99vh;
z-index: 5;
}

#red_phone_click {
position: absolute;
left: 2.8vh;
bottom: 0.1vh;
z-index: 2;
width: 1vh;
height: 1vh;
background: black;
border-radius: 100%;
border: 1px solid blue;
cursor: pointer;
}

#desk_wrap_scroll {
overflow-y: scroll;
overflow-x: hidden;
z-index: 1;
}

#paralax_img_desk {
height: 50vh;
background-image: url('../img/saint-tropez.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

#chat1 {
background-image: url('../img/eyes1.png');
}

#chat2 {
background-image: url('../img/eyes.png');
}

#chat3 {
background-image: url('../img/chat.jpg');
}

#chat4 {
background-image: url('../img/eyes1.png');
}

#chat5 {
background-image: url('../img/eyes.png');
}

#chat6 {
background-image: url('../img/chat.jpg');
}

#chat7 {
background-image: url('../img/eyes1.png');
}

#chat8 {
background-image: url('../img/eyes.png');
}

#chat9 {
background-image: url('../img/chat.jpg');
}

#desk_wrap_draw {
background: white;
}

#desk_wrap_stan {
overflow: hidden;
background: #ede26b;
}

.desk_wrap_stan_img_common {
position: absolute;
width: 66.4vh;
height: 43.25vh;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.tablet_wrap_stan_img_common {
position: absolute;
width: 16.7vh;
height: 19.5vh;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.phone_wrap_stan_img_common {
position: absolute;
width: 6.82vh;
height: 10vh;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.monster_1 {
background-image: url('../img/monster.png');
}

.monstersea, .monstersea_tablet, .monstersea_phone {
background-image: url('../img/monstersea.png');
background-size: contain;
}

.waves_1 {
background-image: url('../img/waves.png');
}

.waves_2 {
background-image: url('../img/waves.png');
bottom: 5vh;
}

.waves_3 {
background-image: url('../img/waves.png');
bottom: 10vh;
}

.waves_4 {
background-image: url('../img/waves.png');
}

.waves_5 {
background-image: url('../img/waves.png');
bottom: 2vh;
}

.waves_6 {
background-image: url('../img/waves.png');
bottom: 4vh;
}

.waves_7 {
background-image: url('../img/waves.png');
}

.waves_8 {
background-image: url('../img/waves.png');
bottom: 1vh;
}

.waves_9 {
background-image: url('../img/waves.png');
bottom: 2vh;
}

#tablet_wrap_scroll {
overflow-y: scroll;
overflow-x: hidden;
z-index: 3;
}

#paralax_img_tablet {
height: 22vh;
background-image: url('../img/saint-tropez.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

#desk_wrap_scroll_tablet {
background: white;
}

#tablet_wrap_draw {
margin-left: 1.2vh;
background: white;
}

#tablet_wrap_stan {
overflow: hidden;
background: #ede26b;
}

#phone_wrap_scroll {
background: blue;
}

#phone_wrap_draw {
background: white;
}

#phone_wrap_stan {
overflow: hidden;
background: #ede26b;
}

/*contact (section_3)*/


#contact_wrap {position: absolute; top: 100%; width: 100%; height: 100vh; background: #040009;}
#icon_wrap_fw {
position: absolute;
width: calc(50vw - 60px);
height: calc(100vh - 60px - 60px);
top: 60px;
left: 60px;
}
.icon_saize {
position: relative;
width: 30%;
height: 22vh;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
display: inline-block;
margin-top: 20px;
margin-left: 10px;
}
#icon_python {background-image: url('../img/python.png')}
#icon_django {background-image: url('../img/django.png')}
#icon_gs {background-image: url('../img/gs.png')}
#icon_js {background-image: url('../img/js.png')}
#icon_css {background-image: url('../img/css.png')}
#icon_html {background-image: url('../img/html.png')}
#icon_jquery {background-image: url('../img/jquery.png')}
#many_more {
position: relative;
display: inline-block;
margin-top: 20px;
margin-left: 10px;
font-size: 35px;
}

#icon_wrap_imi {
position: absolute;
width: calc(50vw - 60px);
height: calc(100vh - 60px - 60px);
top: 60px;
left: 60px;
}

#icon_toole {background-image: url('../img/toole.png'); cursor: pointer;}
#icon_cpk {background-image: url('../img/cpk.png'); cursor: pointer;}

/*basic web frame*/

#text_wrap_right {
position: fixed;
left: 60vw;
bottom: 120px;
top: 120px;
right: 120px;
}

.right_text {
position: absolute;
font-size: 20px;
color: black;
text-align: justify;
margin-top: 0px;
border: 3px solid rgb(139,69,19);
border-bottom: 10px solid rgb(139,69,19);
border-radius: 7pt;
background: rgba(255,215,0,0.9); /* For browsers that do not support gradients */
background: -webkit-linear-gradient(left top, rgba(139,69,190.9), rgba(218,165,32,0.9), rgba(255,215,0,0.9), rgba(218,165,32,0.9), rgba(139,69,19,0.9)); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(bottom right, rgba(139,69,190.9), rgba(218,165,32,0.9), rgba(255,215,0,0.9), rgba(218,165,32,0.9), rgba(139,69,19,0.9));  /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(bottom right, rgba(139,69,190.9), rgba(218,165,32,0.9), rgba(255,215,0,0.9), rgba(218,165,32,0.9), rgba(139,69,19,0.9));  /* For Firefox 3.6 to 15 */
background: linear-gradient(to bottom right, rgba(139,69,190.9), rgba(218,165,32,0.9), rgba(255,215,0,0.9), rgba(218,165,32,0.9), rgba(139,69,19,0.9)); /* Standard syntax */;
padding: 15px;
}

#text_right_lab {visibility: hidden;}
#text_right_scroll {visibility: hidden;}
#text_right_draw {visibility: hidden;}
#text_right_stan {visibility: hidden;}
#text_right_imi {visibility: hidden;}
#text_right_fw {visibility: hidden;}
#text_right_contact {visibility: hidden;}

#text_right_lab_click {visibility: hidden;}
#text_right_scroll_click {visibility: hidden;}
#text_right_draw_click {visibility: hidden;}
#text_right_stan_click {visibility: hidden;}
#text_right_imi_click {visibility: hidden;}
#text_right_fw_click {visibility: hidden;}

#btn_solo {
position: absolute;
bottom: 30px;
left: 0;
right: 0;
margin: auto;
width: 150px;
height: 60px;
z-index: 10;
visibility: hidden;
}

.btn_solo_all {
position: absolute;
width: 150px;
margin: auto;
color: black;
text-align: center;
line-height: 60px;
visibility: hidden;
cursor: pointer;
z-index: 15;
background: rgb(3,75,210); /* For browsers that do not support gradients */
background: -webkit-linear-gradient(left top, rgba(3,75,210,0.9), rgba(17,126,218,0.9), rgba(102,187,209,0.9), rgba(17,126,218,0.9), rgba(3,75,210,0.9)); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(bottom right, rgba(3,75,210,0.9), rgba(17,126,218,0.9), rgba(102,187,209,0.9), rgba(17,126,218,0.9), rgba(3,75,210,0.9));  /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(bottom right, rgba(3,75,210,0.9), rgba(17,126,218,0.9), rgba(102,187,209,0.9), rgba(17,126,218,0.9), rgba(3,75,210,0.9));  /* For Firefox 3.6 to 15 */
background: linear-gradient(to bottom right, rgba(3,75,210,0.9), rgba(17,126,218,0.9), rgba(102,187,209,0.9), rgba(17,126,218,0.9), rgba(3,75,210,0.9));  /* Standard syntax */;
border: 3px solid rgba(3,75,210,0.9);
border-radius: 7pt;
}

.btn_wrap {position: absolute; bottom: 30px; text-align: center; width: 100%; height: 60px;}
.btn_wrap div {
display: inline-block; 
width: 200px; 
height: 60px; 
border: 3px solid rgba(3,75,210,0.9); 
margin-left: 5px; 
margin-right: 5px;
background: rgb(3,75,210); /* For browsers that do not support gradients */
background: -webkit-linear-gradient(left top, rgba(3,75,210,0.9), rgba(17,126,218,0.9), rgba(102,187,209,0.9), rgba(17,126,218,0.9), rgba(3,75,210,0.9)); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(bottom right, rgba(3,75,210,0.9), rgba(17,126,218,0.9), rgba(102,187,209,0.9), rgba(17,126,218,0.9), rgba(3,75,210,0.9));  /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(bottom right, rgba(3,75,210,0.9), rgba(17,126,218,0.9), rgba(102,187,209,0.9), rgba(17,126,218,0.9), rgba(3,75,210,0.9));  /* For Firefox 3.6 to 15 */
background: linear-gradient(to bottom right, rgba(3,75,210,0.9), rgba(17,126,218,0.9), rgba(102,187,209,0.9), rgba(17,126,218,0.9), rgba(3,75,210,0.9));  /* Standard syntax */;
border-radius: 7pt;
}

.btn_wrap div p {
visibility: hidden; 
z-index: 1; 
position: absolute; 
width: 200px; 
margin: auto; 
text-align: center; 
line-height: 60px; 
cursor: pointer;
}
#text_left p {color: black}
#text_right p {color: black}

#btn2 {position: absolute; bottom: 30px; left: 0; right: 0; margin: auto; text-align: center; width: 420px; height: 60px;}

#title_wrap p {position: fixed; top: 30px; left: 100px; width: 200px; height: 60px; visibility: hidden; line-height: 60px; text-align: center; margin: 0px; text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;}

#counting_top {
position: fixed;
left: 45px;
top: calc(50% - 45px);
bottom: calc(50%);
z-index: 2;
}
.top_all {
cursor: pointer;
border-radius: 100%;
height: 30px;
line-height: 30px !important;
background-color: black
}
.top_all:nth-child(16) {color: rgb(3,75,210); border: 3px solid rgb(3,75,210)}
.top_all:nth-child(15) {color: rgb(17,126,218); border: 3px solid rgb(17,126,218)}
.top_all:nth-child(14) {color: rgb(17,126,218); border: 3px solid rgb(17,126,218)}
.top_all:nth-child(13) {color: rgb(102,187,209); border: 3px solid rgb(102,187,209)}
.top_all:nth-child(12) {color: rgb(102,187,209); border: 3px solid rgb(102,187,209)}
.top_all:nth-child(11) {color: rgb(17,126,218); border: 3px solid rgb(17,126,218)}
.top_all:nth-child(10) {color: rgb(17,126,218); border: 3px solid rgb(17,126,218)}
.top_all:nth-child(9) {color: rgb(3,75,210); border: 3px solid rgb(3,75,210)}


#counting_bottom {
visibility: hidden;
position: fixed;
left: 45px;
top: calc(50%);
bottom: calc(50% - 45px);
border-top: 3px solid white;
z-index: 2;
}
#counting_top p {visibility: hidden; position: absolute; line-height: 45px; margin: auto; text-align: center; width: 30px;}
#counting_bottom p {visibility: hidden; line-height: 45px; margin: auto; text-align: center; width: 30px;}
.top_all_stat_num {color: rgb(3,75,210)}

.drawn_line {visibility: hidden; background: black;}
#drawn_line_left_top {position: fixed; left: 60px; top: 60px; width: 3px; height: calc(50% - 60px * 1.75);}
#drawn_line_left_bottom {position: fixed; left: 60px; bottom: 60px; width: 3px; height: calc(50% - 60px * 1.75);}
#drawn_line_top_right {position: fixed; top: 60px; left: 300px; right: 120px; height: 3px;}
#drawn_line_top_left {position: fixed; left: 60px; top: 60px; height: 3px; width: calc(240px - 200px);}
#drawn_line_bottom_left {position: fixed; left: 60px; bottom: 60px; height: 3px; width: calc(50% - 200px * 1.5);}
#drawn_line_bottom_right {position: fixed; bottom: 60px; right: 60px; height: 3px; width: calc(50% - 200px * 1.5);}
#drawn_line_right {position: fixed; right: 60px; bottom: 60px; width: 3px; height: calc(100% - 90px * 2);}
#drawn_line_center {visibility: hidden; background: white;
position: absolute;
right: 50vw;
bottom: calc(120px);
width: 3px;
height: calc(100% - 120px * 2);}

/*huge Desktop*/
@media (min-width: 1500px) {
.right_text {font-size: 35px}

}



/*small Desktop*/
@media (min-width: 992px) and (max-width: 1200px) {


}


/*iPad*/
@media (min-width: 768px) and (max-width: 992px) {


}



/*iPhone*/
@media only screen and (max-width: 768px) {


}




















