body {
font-family: 'Della Respira'; 
font-size: 18px;
width: 100%; 
height: 100%; 
margin: auto; 
overflow-x: hidden; 
overflow-y: hidden;
}
.fa-bars {position: fixed; top: 3vh; right: 4vh; color: white; z-index: 9999;}

section {width: 100%; height: 100vh;}
#sec1_wrap {
position: absolute;
width: 100%; 
height: 100vh;
background: #004ED4; /* For browsers that do not support gradients */
background: -webkit-linear-gradient(left top, #DCF7F5, #004ED4); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(bottom right, #DCF7F5, #004ED4); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(bottom right, #DCF7F5, #004ED4); /* For Firefox 3.6 to 15 */
background: linear-gradient(to bottom right, #DCF7F5, #004ED4); /* Standard syntax */
}

#section1 {
background-image: url('../img/my_img.png'); 
background-size: cover; 
background-repeat: no-repeat; 
background-position: right;
}
#intro {
background-size: 100% 100%; 
width: 400px;
height: 400px;
left: 40%;   
position: absolute;
top: 20vh;
}

#path12, #path37, #path58, #path72, #path94, #bastek {visibility: hidden;}


#main-text {
position: absolute;
top: 0; 
margin-left: 70vh;
margin-right: 50vh;
margin-top: 20vh;
text-align: justify;
}
#btn1 {
position: absolute;
bottom: 10vh;
left: 0; 
right: 0; 
margin-left: auto; 
margin-right: auto; 
width: 100px;
text-align: center;
border: 2px solid #0C00ED;
}
#btn1 p {margin: 0;}

#sec2_wrap {background-color: red;}
#sec3_wrap {background-color: orange}


